<div class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Experiencia Laboral</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-input type="text" [(ngModel)]="empresa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cargo</ion-label>
        <ion-input type="text" [(ngModel)]="cargo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Año de Inicio</ion-label>
        <ion-input type="number" [(ngModel)]="anioInicio"></ion-input>
      </ion-item>

      <ion-item lines="none" style="margin-top: 10px;">
        <ion-label>¿Trabaja aquí actualmente?</ion-label>
        <ion-toggle [(ngModel)]="trabajaAqui" color="success"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="!trabajaAqui">
        <ion-label position="floating">Año de Término</ion-label>
        <ion-input type="number" [(ngModel)]="anioTermino"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" style="margin-top: 20px;" (click)="guardarExperiencia()">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar Experiencia
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
