<ion-header>
  <ion-toolbar>
    <ion-title>SkeletonApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 style="text-align:center;">Bienvenido!</h2>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input 
      [(ngModel)]="user.usuario"
      minlength="3"
      maxlength="8">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input 
      type="password"
      inputmode="numeric"
      maxlength="4"
      [(ngModel)]="user.password">
    </ion-input>
  </ion-item>

  <ion-button expand="full" (click)="ingresar()">
    Ingresar
  </ion-button>

</ion-content>