/* =========================
   ANIMACIÓN INPUTS
   ========================= */
.animar {
  animation: mover 1s;
}

/* Movimiento izquierda → derecha */
@keyframes mover {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}


/* =========================
   ANIMACIÓN TÍTULO
   ========================= */
.titulo-animado {
  animation: aparecer 1s;
}

/* Aparición suave */
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* =========================
   MEJORAS VISUALES (EXTRA)
   ========================= */

/* Espaciado entre inputs */
ion-item {
  margin-bottom: 10px;
}

/* Botones más separados */
ion-button {
  margin-top: 10px;
}